- hosts: <%= @app_name %>
  vars:
    app_name: "<%= @app_name %>"
    <%= if @port do %>app_port: <%= @port %><% end %>
  roles:
    - beam_linux_tuning
    - log_cleanup
    <%# - erl_crash_dump_cleanup %>
    - pip3
    - awscli
