- hosts: <%= @app_name %>
  vars:
    aws_file_name: "<%= @aws_release_file %>"
    app_name: "<%= @app_name %>"
    bucket_name: "<%= @aws_release_bucket %>"
    <%= if @port do %>app_port: <%= @port %><% end %>
  roles:
    - beam_linux_tuning
    - log_cleanup
    <%# - erl_crash_dump_cleanup %>
    - pip3
    - awscli
    - setup_node
