- hosts: group_<%= @app_name %>
  environment:
    AWS_USE_DUALSTACK_ENDPOINT: true
  vars:
    app_name: "<%= @app_name %>"
    <%= if @port do %>app_port: <%= @port %><% end %>
  roles:
    - beam_linux_tuning
    - log_cleanup
    - pip3
    - awscli
    <%= unless @no_prometheus do %>- prometheus_exporter
    <% end %>
    <%= unless @no_loki do %>- grafana_loki_promtail
    <% end %>

