- hosts: <%= @app_name %>
  vars:
    aws_file_name: "<%= @aws_release_file %>"
    app_name: "<%= @app_name %>"
    bucket_name: "<%= @aws_release_bucket %>"
    <%= if @port do %>port: <%= @port %><% end %>
  roles:
    - setup_node
