plugin: aws_ec2

regions:
  - <%= DeployEx.Config.aws_region() %>

hostnames:
  - tag:Name

filters:
  tag:Group: "<%= DeployEx.Utils.upper_title_case(@app_name) %> Backend"

keyed_groups:
  - key: tags['MonitoringKey']
    prefix: "monitoring"

  - key: tags['InstanceGroup']
    prefix: "group"

  - key: tags['DatabaseKey']
    prefix: "database"


compose:
  ansible_host: public_ip_address

