[Unit]
Description=Redis stack server
Documentation=https://redis.io/
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/redis-stack/bin/redis-stack-server /etc/redis/redis.conf
Restart=on-failure
RestartSec=5
WorkingDirectory=/data
UMask=0077
LimitNOFILE=65535
TimeoutStartSec=120
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
