- hosts: monitoring_loki_logger
  roles:
    - pip3
    - awscli
    - log_cleanup
    - prometheus_exporter
    - grafana_loki
    <%= if @use_mimir do %>- grafana_alloy
    <% end %>- ipv6
    - data_volume_grow
