terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = ">= 5.92.0"
    }
  }
<%= if @terraform_backend === :s3 do %>
  backend "s3" {
    bucket         = "<%= @aws_release_state_bucket %>"
    key            = "terraform.tfstate"
    region         = "<%= @aws_region %>"
    dynamodb_table = "<%= @aws_release_state_lock_table %>"
    encrypt        = true
  }
<% end %>
}

provider "aws" {
  region = "<%= @aws_region %>"
}

