loki.source.journal "systemd" {
  forward_to    = [loki.process.pipeline.receiver]
  relabel_rules = loki.relabel.journal.rules
  max_age       = "12h"
  path          = "/var/log/journal"
  labels        = {
    job = "systemd-journal",
  }
}

loki.relabel "journal" {
  forward_to = []

  rule {
    target_label = "service_name"
    replacement  = "{{ app_name | default('') }}"
  }

  rule {
    source_labels = ["__journal__systemd_unit"]
    regex         = "(?P<service>[^\\.]+)\\.service"
    target_label  = "service"
  }

  rule {
    source_labels = ["__journal__hostname"]
    target_label  = "instance_id"
  }
}

loki.process "pipeline" {
  forward_to = [loki.write.default.receiver]

  stage.match {
    selector = "{job=\"systemd-journal\"}"

    stage.regex {
      expression = "^[^\\[]+\\[(?P<level>error|warn|debug|alert|critical|warning|notice)\\]"
    }

    stage.labels {
      values = {
        level = "",
      }
    }
  }
}

loki.write "default" {
  endpoint {
    url = "{{ grafana_loki_url }}/loki/api/v1/push"
  }
}
{% if grafana_mimir_url_configured %}

prometheus.scrape "node_exporter" {
  job_name = "nodes"
  targets = [{
    "__address__" = "localhost:9100",
    "instance"    = "{{ inventory_hostname }}",
    "instance_id" = "{{ instance_id | default('unknown') }}",
  }]
  forward_to = [prometheus.remote_write.mimir.receiver]
}
{% if app_name is defined %}

prometheus.scrape "app" {
  job_name = "apps"
  targets = [{
    "__address__" = "localhost:{{ alloy_app_metrics_port }}",
    "instance"    = "{{ inventory_hostname }}",
    "instance_id" = "{{ instance_id | default('unknown') }}",
  }]
  forward_to = [prometheus.remote_write.mimir.receiver]
}
{% endif %}

prometheus.remote_write "mimir" {
  endpoint {
    url = "{{ grafana_mimir_url }}/api/v1/push"
  }
}
{% endif %}