[Unit]
Description=Loki Promtail Log Exporter

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/
ExecStart=/root/promtail-{{ promtail_architecture }} -config.file /root/promtail_config.yaml

Restart=on-failure
RestartSec=5
SuccessExitStatus=143
TimeoutStopSec=10
{% for env in extra_loki_promtail_env %}
Environment={{ env }}
{% endfor %}
SyslogIdentifier=promtail_exporter
RemainAfterExit=no
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target


