auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

limits_config:
  retention_period: {{ loki_logger_retention }}

common:
  path_prefix: /data/loki
  storage:
    filesystem:
      chunks_directory: /data/loki/chunks
      rules_directory: /data/loki/rules
  replication_factor: 1
  ring:
    instance_addr: 0.0.0.0
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      object_store: s3
      store: tsdb
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /data/loki/index
    cache_location: /data/loki/index_cache
,   cache_ttl: 24h
  aws:
    bucketnames: {{ loki_logger_s3_bucket_name }}
    endpoint: s3.{{ loki_logger_s3_region }}.amazonaws.com
    region: {{ loki_logger_s3_region }}
    access_key_id: {{ aws_credentials['AWS_ACCESS_KEY_ID'] }}
    secret_access_key: {{ aws_credentials['AWS_SECRET_ACCESS_KEY'] }}

querier:
  max_concurrent: 16

ingester:
  max_chunk_age: 1h
  chunk_retain_period: 30s
  wal:
    enabled: true
    dir: /data/loki/wal

compactor:
  working_directory: /data/loki/retention
  compaction_interval: 10m
  retention_enabled: true
  retention_delete_delay: 6h
  retention_delete_worker_count: 150
  delete_request_store: aws
